<!doctype html>
<html lang="ko">
  <head>
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/pe-icon-7-stroke.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/owners"><%=store.storename%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li id="reservations" class="nav-item active">
              <a class="nav-link" href="/owners/reservations/daily?type=monthly">예약 달력 <span class="sr-only">(current)</span></a>
            </li>
            <li id="programs" class="nav-item">
              <a class="nav-link" href="/owners/programs/list">프로그램</a>
            </li>
            <li id="stores" class="nav-item">
              <a class="nav-link" href="/owners/stores/detail">승마장 정보</a>
            </li>
            <li id="qnas" class="nav-item">
              <a class="nav-link" href="/owners/qnas/list">문의</a>
            </li>
            <li id="reviews" class="nav-item">
              <a class="nav-link" href="/owners/reviews/list">후기</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
