<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
  </head>
  <body>
    <% for(var i in messages) { %>
      <div class="flash"><%= messages[i] %></div>
    <% } %>
    <h1><%=title%></h1>
    <div><%=stores%></div>
  </body>
</html>
