<% include ../templates/head.ejs %>
<section>
  <div class="container-fluid">
    <h5 class="mb-3">대시보드</h5>
  </div>
  <div class="container-fluid bg-white">
    <div class="row py-5">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div><!-- /.container-fluid -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <h6 class="my-3">예약 달력</h6>
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-sm">
        <h6 class="my-3">통계</h6>
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-sm">
        <h6 class="my-3">공지사항</h6>
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){

});
</script>
<script>
$(document).ready(function(){
  $('.sidebar .nav .active').removeClass('active');
  var path = "dashboard" ;
  $('#'+path).addClass('active');
})
</script>
