<!DOCTYPE HTML>
<html>
<head>
  <title>
    <%= title %>
  </title>
</head>
  <body>
    <% if (username) { %>
    <h2>Hello <%=username %></h2>
    <a href="/users/signout">Sign out</a>
    <% } else { %>
      <a href="/users/signup">Signup</a>
      <a href="/users/signin">Signin</a>
    <% } %>
    <br />
    <img src="images/background.jpg" alt="logo" />
  </body>
</html>
