body{
  background-color: #f8f8f8;
  height: 100%;
}
.form-control{
  border: solid 1.5px #666666;
  border-radius: 10px;
  display: inline-block;
 /* width: unset;*/
  padding: unset;
  font-size: unset;
  padding: .05rem .3rem;
  /* padding: .375rem .75rem; */
/* font-size: 1rem; */
}
.form-control-width{
  width: unset;
}
.bg-lighter{
  background-color: #f8f8f8;
}
.drop-shadow{
  box-shadow: 1.8369701987210304e-16px 3px 5.7px 0.3px rgba(0, 0, 0, 0.24), 1.224646799147353e-16px 2px 5.88px 0.12px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.wrapper{
  overflow: hidden;
}
.card{
  border: none;
  background-color: white;
  border-radius: 0;
}
.sidebar, .main-panel{
  float: left;
}
.sidebar {
  width: 216px;
  display: block;
  position: absolute;
  background-color: #2a2d34;
  height: 200vh;
  color: #acacac;
  z-index: 2;
}
.main-panel{
  width: 100%;
  padding-left: 216px;
}
.sidebar-header{
  background-color: #008d87;
  text-align: center;
  color: white;
  height: 70px;
  padding: .6rem;
  font-size: 28px;
}
.sidebar > .nav{
   margin-bottom: 60px;
}
.sidebar > .nav .nav-item span{
  padding: 15px;
  padding-left: 17px;
  display: block;
  font-size: 12px;
}
.sidebar > .nav .nav-link{
  padding: 12px;
  padding-left: 46px;
  color: #acacac;
  position: relative;;
}
.sidebar > .nav .nav-link > i{
  position: absolute;
  left: 6px;
  top: 0;
  padding: 13px;
  font-weight: bold;
  font-size: 20px;
}
.sidebar > .nav .nav-item.active .nav-link{
  background-color: #656d7d;
  color: white;
}
.navbar{
  height: 70px;
  background-color: white;
  box-shadow: 1.8369701987210304e-16px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 6.123233995736765e-17px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);
  z-index: 1000;
}
.navbar .nav-item{
  position: relative;;
}
.sidebar .nav .sub-nav{
  margin-top: 0;
}
.has-sub{
  cursor :pointer;
}
.sidebar .nav li {
  overflow: hidden;
}
.sidebar .nav .sub-nav li > a{
  margin: 0;
  padding: 7px 12px;
  padding-left: 48px;
  font-weight: 300;;
  font-size: 14px;
}
.sidebar .nav .sub-nav li > a > p{
  margin: 0;
}
.has-sub.open > a, .has-sub.open > a:hover{
  background-color: #656d7d;
  color: white !important;
}
.has-sub:before{
  content : "\e688";
  position: absolute;
  right: 0px;
  display: inline-block;
  z-index: 3;
  padding: 10px 10px;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-size: 27px;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.has-sub.open:before{
  content : "\e682";
}
.sidebar .nav .has-sub .sub-nav{
  max-height: 0;
  overflow: hidden;

  -webkit-transition:max-height .5s ease;
  transition:max-height .5s ease;
}
.sidebar .nav .has-sub.open .sub-nav{
  max-height: 200px;
  display: block;

  -webkit-transition: max-height .5s ease;
  transition:max-height .5s ease;
}
.sidebar .nav .sub-nav li.active > a {
  color: white;
}
.container, .container-fluid{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}
.navbar .container-fluid{
  padding-top: 0;
  margin: 0 -15px;
}
.calendar-pagination{
  display: flex;
  justify-content: space-between;

}
.calendar-pagination .calendar-title {
  font-size: 50px;
}
.calendar-pagination .calendar-title small{
  font-size: 16px;
  color: #888;
  display: block;
  margin-top: 7px;
}
.calendar-pagination .page-item {
    align-self: flex-end;
}
.calendar-pagination .page-item a{
  font-size: 25px;
  color: #727272;
      vertical-align: middle;
}
.calendar-pagination .page-item a:hover{
  text-decoration: unset;
}
.calendar-pagination .page-item a i{
  font-size: 40px;
  vertical-align: middle;
}
.table-reservations{
  background-color: transparent;
  font-size: 13px;
  border: none;
}

.table-reservations thead tr{
  background-color: #d2d2d2;
}
.table-reservations tbody tr{

  border-bottom: solid 1px #747474;
}
.table-reservations tbody tr:last-child{
  border: none;
}
.table-reservations td{
  border: none;
  padding: 4px 11px;
  font-weight: normal;
  position: relative;
}
.table-reservations tr td:first-child, .table-reservations tr td:last-child{
  border: none;
}
.table-reservations thead th{
  background-color: transparent;
  padding: 9px;;
  text-align: center;;
  border: none;
  font-size: 16px;
  color: #323232;
  font-weight: 200;
}
.table-reservations tbody td{
  height: 235px;
}
.table-reservations tbody td > a{
  display: block;

  color: #878787;
  font-size: 17px;
  text-align: right;
  font-weight: normal;
}
.table-reservations thead th:first-child{
  color: white;
}
.table-reservations tbody tr td:first-child > a{
  color: #343434;
}
.table-reservations tbody tr td:nth-child(2n+1){
  background-color: white;
}
.table-reservations tbody tr td:nth-child(2n){
  background-color: #f8f8f8;
}
.table-reservations tbody tr td:last-child > a{
  color: #343434;
}
.table-reservations tbody tr td.today > a{
  color: #ff7f7f;
}
.table-reservations tbody tr td.selected{
  border: solid 2px #008d87;
}
.table-reservations tbody tr td.selected > a{
  color: #008d87;
}
/* .table-reservations td.today{
  background-color: white;
}
.table-reservations td.selected{
  background-color:rgba(0, 141, 135, 0.2);
} */
.table-reservations .program{

  margin-bottom: 7px;
}
.table-reservations .timebadge{
  display: inline-block;
  font-size: 15px;
  height: 14px;
  padding: 0px;
  padding-left: 8px;
  text-align: center;
  border-left: solid 4px #d0d0d0;
  line-height: 1;
}
.timebadge-available{
  color: rgba(47, 47, 47, 0.65);
  border-color: #d0d0d0;
}
.timebadge-reserved{
  color: #2f2f2f;
  border-color: #008d87 !important;
}
.table-reservations .statusbadge{
  border-radius: 8px;
  border: solid 2px #d0d0d0;
  width: 30px;
  height: 20px;
  font-size: 12px;
  padding: 0 2px;
  display:inline-block;
  white-space: nowrap;
  text-align: center;
}
.table-reservations .statusbadge.statusbadge-available{
  background-color: #d0d0d0;
  color: white;
}
.table-reservations .statusbadge.statusbadge-reserved{
  background-color:transparent;
  color:  #008d87;
  border-color: #008d87 !important;
}
ul.timeline{
  padding: 0;
  margin: 0;
  margin-left: -15px;
}
.timeline > li{
  list-style: none;
  position: relative;
  font-weight: 300;
}
.timeline >li .title{
  font-size: 24px;
  color: white;
  padding: 2px;
  padding-left: 35px;
  box-shadow: 1.224646799147353e-16px 2px 5.88px 0.12px rgba(0, 0, 0, 0.16), 1.8369701987210304e-16px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}
.timeline >li.reserved .title{
  background-color: #008d87;
}
.timeline >li.available .title{
  background-color: #dddddd;
}
.timeline >li .content{
  padding: 35px;
}
.timeline >li hr{
  background-color: #008d87;
  border-width: 3px;
  margin: 20px 0;
}
.timeline >li .content .name{
  margin-bottom: 20px;
}
.timeline >li .content p {
  margin-bottom: 15px;
  line-height: 1.9;
}
.timeline >li .content p > strong{
  color: #008d87;
  font-size:15px;
  font-weight: 700;
  display: inline-block;
  width: 65px;
}
.table{

}
.table.table-default thead {
  background-color: #d2d2d2;
  text-align: center;
}
.table.table-default tbody{
  text-align: center;
}
.table.table-striped thead{
  background-color: #d2d2d2;
}
.table.table-striped td:first-child, .table.table-striped th:first-child{
  padding-left: 40px;
}
.table.table-striped td:last-child, .table.table-striped th:last-child{
  padding-right: 40px;
}
.thead-control{
  background-color: #008d87;
  text-align: center;
  color: white;
  height: 70px;
  padding: .6rem;
  font-size: 20px;
}
.tbody-control{
 text-align: center;
 font-size: 16px;
 font-family: 'YDIYGO320';
}
.tbody-control a:link{
  color: #000000
}
.tbody-control a:visited{
  color: #000000
}

.tbody-control-button:hover{
  color: #008d87;
  font-color: #000000;
}
.tbody-control-button:onClick{
  color: #008d87;
  font-color: #000000;
  box-shadow: 0px 2px 5.9px 0.1px rgba(0, 0, 0, 0.16);
}
table td{
  max-width: 270px;
}
.my-3{
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  margin-left: 40px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.my-3 > h2{
  font-size: 15px;
  margin: 0;
}
.text-red{
  color: #ef255f;
}
.text-purple{
  color: purple;
}
.info-card-title{
  font-weight: bold;
  color: #008d87;
}
.info-card-title2{
  font-weight: bold;
  color: #000000;
  margin-bottom: 3px;
}
.btn-color{
  background-color: #008d87;
}
.narrowpadding{
  padding-left: 5px;
  padding-right: 5px;
}

.refund{
  font-size: 12px;
}

.refundIndex{
  text-align: center;
}
 .btn.btn-outline-default {
  background-color: #ffffff;
  color: #6c6e70;
  border: solid 1px #666666;
}
.btn-primary{
  background-color: #008d87;
  border-color: #008d87;
}


[type=checkbox], [type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  [type=checkbox] + span.checkbox, [type=radio] + span.checkbox {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: white;
    border: solid 1px #4a4a4a;
    margin: 0 4.5px; }
  [type=checkbox]:checked + span.checkbox, [type=radio]:checked + span.checkbox {
    background-color: #2b2b2b;
    background-image: url("/assets/img/icons/ic-active-box-white.png");
    background-position: center;
    background-repeat: no-repeat; }
  [type=checkbox]:disabled + span.checkbox, [type=radio]:disabled + span.checkbox {
    background-color: #d8d8d8;
    border-color: #d8d8d8; }
    [type=checkbox]:disabled + span.checkbox ~ .label-text, [type=radio]:disabled + span.checkbox ~ .label-text {
      color: #9b9b9b; }

.tag [type=checkbox] + .btn {
  /* padding: 0 18px; */
  /* height: 52px; */
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
.tag [type=checkbox] + .btn.btn-outline-default {
  background-color: #ffffff;
  color: #6c6e70; }
.tag [type=checkbox]:checked + .btn.btn-outline-default {
 background-color: #008d87;
 color: #ffffff;
 border: solid 1px #008d87; }
 .info-head {
  float: left;
  width: 17%
 }
.info-info {
 float: left;
}
.store_edit{
  color: #f5f5f5;
  border-radius: 8px;
  border: solid 0 #727475;
  background-color: #656363;
  margin-right:10px;
}
.store_save{
  color: #f5f5f5;
  border-radius: 8px;
  border: solid 0 #727475;
  background-color: #008e88;
}

.row-full-height{
  align-items: stretch;
  height:90vh;
}
.row-direction-col{
  flex-direction: column;
}
.nopadding{
  padding: 0 !important;
}
