<% include ../templates/header.ejs %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form id="createForm">
        <div class="col-md-8"> <!--왼쪽 승마장 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>승마장번호</label>
                    <input name="storeNo" type="text" class="form-control" placeholder="이름">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>프로그램명</label>
                    <input name="programName" type="text" class="form-control" placeholder="프로그램명">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>프로그램설명</label>
                    <textarea name="programDescription" class="form-control" rows="5"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>프로그램 가격</label>
                    <input name="programOriginalPrice" type="text" class="form-control" placeholder="정가">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>할인율</label>
                    <input name="programDiscountRatio" type="text" class="form-control" placeholder="할인율">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>프로그램 할인가</label>
                    <input name="programPrice" type="text" class="form-control" placeholder="할인가">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>진행시간(분)</label>
                    <input name="programTime" type="text" class="form-control" placeholder="시간(분)">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>최소요구등급</label>
                    <input name="requiredLevelMin" type="text" class="form-control" placeholder="최소">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>최대요구등급</label>
                    <input name="requiredLevelMax" type="text" class="form-control" placeholder="최대">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>준비물</label>
                    <input name="programNeeds" type="text" class="form-control" placeholder="준비물">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>프로그램 썸네일</label>
                    <input class="form-control" placeholder="정보수정 페이지에서 추가해주세요" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"> <!--오른쪽 승마장 상세정보-->
          <div class="card">
            <div class="content">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>코치사진</label>
                  <input class="form-control" placeholder="정보수정 페이지에서 추가해주세요" readonly>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label>코치이름</label>
                  <input name="coachName" type="text" class="form-control" placeholder="이름">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label>코치약력</label>
                  <textarea name="coachHistory" class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <button id="createButton" type="button" class="btn btn-info btn-fill pull-right">저장</button>
            <a href="list" type="button" class="btn btn-info pull-left">이전으로</a>
            <div class="clearfix"></div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<% include ../templates/bottom.ejs %>
<script>
$(document).ready(function(){
  $('#createButton').click(function(){
    var program =  $('#createForm').serializeObject();
    console.log(program);

    $.ajax({
      type:"POST",
      url:'/apis/admin/program',
      data:program,
      success:function(args){
        alert("성공했습니다.");
        location.reload();
      },
      error:function(e){
          alert(e.responseText);
      }
    });
  });
});
</script>
