<% include ./templates/head.ejs %>
<section style="padding-top: 70px;">
<div class="container">
  <h2 class="my-4 text-center">로그인</h2>
  <div class="row">
    <div class="card mx-auto " style="margin-bottom: 20px; min-width: 20rem;">
      <ul class="list-group list-group-flush">
        <% for(var i=0; i<stores.length; i++){%>
          <% var store = stores[i]; %>
          <li class="list-group-item text-center">
            <div class="d-flex w-100 text-center">
              <a href="/owners/reservations/daily?type=monthly&storeId=<%=store._id%>" class="card-link">
                <%=store.storename%>
              </a>
            </div>
          </li>
        <%}%>
      </ul>
    </div>
  </div>
</div>
</section>
<% include ./templates/bottom.ejs %>
