<div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">

  <!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
                Ride High
            </a>
    </div>

    <ul class="nav">
      <li class="active">
        <a href="/admin/stores/list">
          <i class="pe-7s-graph"></i>
          <p>승마장</p>
        </a>
      </li>
      <li>
        <a href="/admin/users/list">
          <i class="pe-7s-user"></i>
          <p>사용자 현황</p>
        </a>
      </li>
      <li>
        <a href="table.html">
          <i class="pe-7s-note2"></i>
          <p>예약내역</p>
        </a>
      </li>
      <li>
        <a href="typography.html">
          <i class="pe-7s-news-paper"></i>
          <p>이용권 구매 내역</p>
        </a>
      </li>
      <li>
        <a href="icons.html">
          <i class="pe-7s-science"></i>
          <p>문의</p>
        </a>
      </li>
      <li>
        <a href="maps.html">
          <i class="pe-7s-map-marker"></i>
          <p>메인화면 관리</p>
        </a>
      </li>
      <li>
        <a href="notifications.html">
            <i class="pe-7s-bell"></i>
            <p>이벤트</p>
        </a>
      </li>
    </ul>
  </div>
</div>
