<div class="sidebar" data-color="purple" data-image="/images/sidebar-5.jpg">

  <!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
                Ride High
            </a>
    </div>

    <ul class="nav">
      <li id="stores" class="active">
        <a href="/newadmin/stores/list">
          <i class="pe-7s-map-marker"></i>
          <p>승마장</p>
        </a>
      </li>
      <li id="programs" class="active">
        <a href="/newadmin/programs/list">
          <i class="pe-7s-note2"></i>
          <p>프로그램</p>
        </a>
      </li>
      <li id="schedules" class="active">
        <a href="/newadmin/schedules/list">
          <i class="pe-7s-date"></i>
          <p>스케줄</p>
        </a>
      </li>
      <li id="reservation" class="active">
        <a href="/newadmin/reservations/list">
          <i class="pe-7s-note2"></i>
          <p>예약내역</p>
        </a>
      </li>
      <li id="reviews" class="active">
        <a href="/newadmin/reviews/list">
          <i class="pe-7s-like2"></i>
          <p>후기관리</p>
        </a>
      </li>
      <li id="calculations" class="active">
        <a href="/newadmin/calculations/list">
          <i class="pe-7s-calculator"></i>
          <p>정산</p>
        </a>
      </li>
      <li id="payments" class="active">
        <a href="/newadmin/payments/list">
          <i class="pe-7s-credit"></i>
          <p>결제관리</p>
        </a>
      </li>
      <li id="members" class="active">
        <a href="/newadmin/members/list">
          <i class="pe-7s-users"></i>
          <p>사용자</p>
        </a>
      </li>
      <li id="banners" class="active">
        <a href="/newadmin/banners/list">
          <i class="pe-7s-albums"></i>
          <p>배너관리</p>
        </a>
      </li>
      <li id="faqs" class="active">
        <a href="/newadmin/faqs/list">
          <i class="pe-7s-help1"></i>
          <p>FAQ</p>
        </a>
      </li>
      <li id="notices" class="active">
        <a href="/newadmin/notices/list">
          <i class="pe-7s-speaker"></i>
          <p>공지사항</p>
        </a>
      </li>
    </ul>
  </div>
</div>
